[user]
	name = Willi Carlsen
	email = carlsenwilli@gmail.com
[github]
	user = wcarlsen
[pull]
	rebase = false
[pager]
	branch = false
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
